/.git
/.vs
/Debug
/Release
/ZZ-FinalRelease
/CaveStory/fmodcs_project
mod.vcxproj.user
*.exp
*.lib
*.pdb
*.dll

CaveStory/fps
CaveStory/mute
CaveStory/Config.dat
CaveStory/Profile.dat
CaveStory/window.rect
CaveStory/mods/fmodcs/fmodcs.ilk
CaveStory/Profile_Fmod.dat
